* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*animation*/

.header-navigation-link::after {
    content: "";
    position: absolute;
    background: #9013FE;
    width: 100%;
    height: 7px;
    left: 1px;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.active-nav-link::after {
    opacity: .5;
}

.header-navigation-link:hover::after {
    opacity: .5;
}

/*header*/

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 1;
    overflow-x: hidden;
    border-right: solid 1px #ececec;
    background-color: #ffffff;
}

.container-header {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px 40px 40px;
}

.header-img {
    max-width: 120px;
    height: auto;
    border-radius: 100%;
}

.header-title {
    margin-top: 20px;
}

.header-text {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #000000;
}

.header-description {
    margin-top: 20px;
    font-size: 20px;
}

.header-navigation-list {
    display: block;
    margin-top: 40px;
}

.header-navigation-item {
    padding: 12px 0;
    text-align: left;
    list-style: none;
}

.header-navigation-link {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}

/*contacts*/

.contacts-list {
    display: flex;
    list-style: none;
}

.contacts-item:not(:last-child) {
    margin-right: 20px;
}

.icon {
    max-width: 20px; 
    height: auto;
    transition: all .2s ease-in-out;
}

.github 
{
    background-image: url("../assets/img/github.svg");
}

.gmail
{
    background-image: url("../assets/img/gmail.svg");
}

.codewars
{
    background-image: url("../assets/img/codewars.svg");
}

.icon:hover {
    fill: #9013FE;
}

/*render-body*/

main {
    flex:1 1 100%;
}

.render-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 280px;
}