* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 540px;
}

.hidden {
  display: none;
}

/*nav menu and buttons*/

.button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 900;
  overflow: hidden;
  line-height: 1;
  padding: 15px 24px;
  position: relative;
  text-transform: uppercase;
}

.button-portfolio {
  margin-right: 10px;
  color: #FFF;
  border: solid 3px #9013FE;
  background: #9013FE;
  box-shadow: inset 0 0 0 0 #FFFFFF;
}

.button-contact {
  color: #000;
  background: transparent;
  border: solid 3px #000;
  box-shadow: inset 0 0 0 0 #000;
}

.button-animation{
  transition: color .30s ease-in-out,
  background-color .30s ease-in-out,
  border-color .30s ease-in-out,
  box-shadow .30s ease-in-out;
}

.slide-down:hover {
  box-shadow: inset 0 100px 0 0 #FFFFFF;
  color: #9013FE;
}

.slide-up:hover {
  box-shadow: inset 0 -100px 0 0 #000;
  color: #FFFFFF;
}

/*section*/

.section-title {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.8em;
}

.section-subtitle {
  list-style-type: disc;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
}

.section-description {
  color: #888888;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
}

.title-profession {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  text-align: start;
  text-transform: uppercase;
}

/*section-greatings*/

.section-greatings {
  margin-bottom: 50px;
}

.section-greating-container {
  height: 95vh;
  align-items: center;
}

.context-container {
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-greatings-title {
  margin-bottom: 50px;
}

.section-greatings-description {
  margin-bottom: 50px;
}

.mouse {
  width: 15px;
  height: 25px;
  border: 3px solid #333;
  border-radius: 12px;
  position: relative;
}

.mouse:before {
   content: '';
   width: 5px;
   height: 5px;
   position: absolute;
   top: 5px;
   left: 50%;
   transform: translateX(-50%);
   background-color: #333;
   border-radius: 50%;
   opacity: 1;
   animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 20px;
  }
}

/*section-profile*/

.section-profile {
  padding: 10px 100px 10px 40px;
  border-left: solid  2px #000000;
}

/*section-skills*/

.section-skills {
  padding: 10px 100px 10px 40px;
  border-left: solid  2px #000000;
}

.section-skills-list {
  list-style-type: disc;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
}

.section-skills-item:not(:last-child) {
  margin-bottom: 1.5em;
}

/*section-examples*/

.section-examples {
  padding: 10px 100px 10px 40px;
  border-left: solid  2px #000000;
}

.subtitle-container {
  display: flex;
}

.section-code-container {
  padding: 30px;
  margin-top: 20px;
  background-color: lightgray;
  border: solid 1px gray;
  border-radius: 10px;
}

/*section-work-experience*/

.section-work-experience {
  padding: 10px 100px 10px 40px;
  border-left: solid  2px #000000;
}